doctype html
html(lang="ru")
    head
        meta(charset='UTF-8')
        meta(name='description' content="Conway's Game of Life")
        meta(name='author' content='Manakov Vladislav')
        title Game of life
        link(href='main.css' rel='stylesheet')
        script(src='http://code.createjs.com/easeljs-0.8.0.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    body
        div.canvas-block
            canvas(id='action-screen' width='500' height='500')
        div.action-buttons
            input.start-button.action-button(type='button' value='start')
            input.stop-button.action-button(type='button' value='stop')
            input.next-button.action-button(type='button' value='next')
            //input.clear-button.action-button(type='button' value='clear')
            div.clear-button.action-button(type='button' value='clear')
        script(src='bundle.js')


