doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='description' content="Conway's Game of Life")
        meta(name='author' content='Manakov Vladislav')
        title Game of life
        link(href='main.css' rel='stylesheet')
    body
        h1.game-title Conway's Game of Life
        div.canvas-block
            canvas(id='action-screen' width='600' height='600')
        div.action-buttons
            input.js-start-button.action-button(type='button' value='start')
            input.js-pause-button.action-button(type='button' value='pause' id='pause-button')
            input.js-step-button.action-button(type='button' value='step')
            input.js-clear-button.action-button(type='button' value='clear')
        script(src='bundle.js')
        script(src='../packages/easeljs-0.8.2.min.js')
        script(src='../packages/jquery-3.1.1.min.js')


