body
  display flex
  flex-direction column
  align-items center

.action-screen
  width 400px
  height 400px
  background #e9e9e9

.rectangle
  width 20px
  height 20px
  background #cbcbcb
  border white solid 1px

.action-button
  margin 15px
  padding 5px
  border-radius 5px

canvas
  display inline-block


